.hidden {
    display: none;
}

body {
    font-family: "Roboto", sans-serif;  
    background-color: #fff; 
    color:#434455; 
    
   
}
a { 
    text-decoration: none; 
}

ul { 

    list-style-type: none;
    margin: 0;
    padding-left: 0;
    }

 
img {
  display: block;
  width: 100%;
  height: auto;
     
}

.container {
  margin: 0 auto;
  max-width: 320px;
  padding: 0 16px;
   
} 

@media screen and (min-width:768px) {
   .container { 
    max-width: 768px;
}
}

@media screen and (min-width:1158px) {
   .container { 
    max-width: 1158px;
    padding: 0 15px;
}
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
  
}

@media screen and (min-width:1158px) {
    .section {
     padding-top: 120px;
     padding-bottom: 120px;
  
}
}


.one {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:  0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);       
}

button {
    cursor: pointer;
}

.burg-icon {
    display: block;
    fill: #2F2F37;
}
.burg-btn{
    padding: 0;
    border: none;
    background: transparent;
}


.item-menu, 
.contakt-menu {
 display: none;
  
}

 .one-web {
  display: flex; 
  justify-content: space-between;
  
  }


.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    gap: 0px;
    width: auto; 
    height: auto;
    text-align: left;
    padding: 16px 0;
    display: block;
    
    
}

.span-logo {
    color: #2e2f42;
}

.contakt {
    font-weight: 400;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

@media screen and (min-width:768px) {

    .nav-site {
     display: flex;
     align-items: center;
   
     }

    address {
    font-style: normal;
    display: flex;
    
}
    
    .logo  {
    padding: 24px 0;
    margin-right: 120px;
   }
   
    .item-menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-items: center;
      gap: 40px;
      margin-right: 122px; 
     
    }

    .menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-one {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu:hover,
.menu:focus {
    color: #404bbf;
    
}

.menu::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #404bbf; 
    bottom: 0; 
    left: 0;
    transform: scaleX(0); 
    transform-origin: bottom right;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    bottom: -1px;
    height: 4px;
    border-radius: 2px;


}

.menu.active::after {
    transform: scaleX(1); 
    transform-origin: bottom left; 
}

  
 .contakt-menu {
    display: flex;
    flex-direction: column;
    gap:  12px;
    padding: 16px 16px 16px;
    
   
    
 }

 .contakt {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
   
 }
 
 .contakt:hover,
  .contakt:focus {
    color: #404bbf;
}


  
.burg-btn{
    display: none;
}
    
}

@media screen and (min-width:1158px) {
  
    .logo  {
    margin-right: 76px;
    
   }
   
    .item-menu {
     
      margin-right: 332px;
    
}


 .contakt-menu{
      flex-direction: row;
      gap: 40px;
      padding: 24px 0; 
      
    
 }

 .contakt {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
 }  
  }    

.menu-mobal {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #fff;

   opacity: 0;
   visibility: hidden;
   pointer-events: none;
   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.menu-mobal.is-open {
   opacity: 1;
   visibility: visible;
   pointer-events: auto; 

}

.menu-mob-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav-mob {
    margin-bottom: auto;
    
}

.item-menu-mob {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.menu-mob {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-one-mob {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.menu-mob:hover,
.menu-mob:focus {
    color: #404bbf;
    
}

.addr-mob {
    margin-bottom: 48px;
}

.contakt-menu-mob {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contakt-mob {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
} 

.contakt-mob:hover,
.contakt-mob:focus {
    color: #404bbf;
    
}

.list-social-mob {
  display: flex;
  flex-direction: row;
  gap: 40px;
  
}

.link-social-mob {
   width: 40px;
   height: 40px; 
}

.name-social-mob {
 display: flex; 
  justify-content: center;  
  align-items: center; 
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%; 
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-social-mob {
  fill:#f4f4fd;
  
}

.name-social-mob:hover,
.name-social-mob:focus {
  background-color: #404bbf;
}

.close-button {
display: flex; 
   align-items: center; 
   justify-content: center;
   position: absolute; 
   border-radius: 50%;
   margin-left: 336px;
   top: 24px; 
   right: 24px;
   width: 24px;
   height: 24px;
   padding: 0; 
   stroke-width: 1px;
   stroke: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color:#e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  fill: #2e2f42;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
 
}
.close-button:hover, 
.close-button:focus { 
  background-color: #404BBF; border: none;
}

.close-button:hover  .close-icon,
.close-button:focus  .close-icon {
  fill: #ffffff;
}

@media screen and (min-width:768px) {
    .menu-mobal {
     display: none;

}
}
/*section main*/
.main-color-mob {
   /*width: 320px;*/
   margin: 0 auto; 
   background: rgba(46, 47, 66, 0.7);
   background-image: 
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/office.jpg);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;    
}

.main-name{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #fff;
    margin: 0;
    margin-bottom: 72px;
    padding-top: 72px; 
    padding-bottom: 72px;
    max-width: 216px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
               
}

.btn-main {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5; 
    cursor: pointer;
    border: none; 
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    /*margin-bottom: 185px;*/
    display: block;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
 }

.btn-main:hover,
.btn-main:focus{
    background-color: #404bbf;
}
   

@media screen and (min-width: 756px) {
    .main-color-mob {
        /*width: 768px;*/
        background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/office@2x.jpg);
}
     .main-name {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        padding-top: 112px; 
        padding-bottom: 112px;
     }

}

@media screen and (min-width: 1158px) {
    .main-color-mob {
     padding-top: 188px; 
     padding-bottom: 188px;
     /*width: 1440px;*/
     
}
}

/*section 2*/

.main-two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11; 
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 72px;
    text-align: center;
   
    
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.name-two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
    
    
}

.feat {
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   flex-direction: column;
   margin: 0;
   gap: 72px;
   
}

.feat-item {
    flex-direction: column;
      
}

.vkr {
    display: none;
  
}

@media screen and (min-width: 756px) {

    .name-two {
     text-align: left;
}

     .feat {
     flex-wrap: wrap;   
     flex-direction: row;
     gap: 24px; 
}

    .feat-item {
     width: calc((100% - 48px) / 2);
     
}

}


@media screen and (min-width: 1158px) {
    .name-two {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;  
    }

   
   .feat-item {
     width: calc((100% - 72px) / 4);
     
}


    .vkr {
      display: flex;
      align-items: center; 
      justify-content: center;
      width: 264px;
      height: 112px;
      position: relative;
      background-color: #f4f4fd; 
      border-radius: 4px; 
      border: 1px solid #8e8f99; 
      margin-bottom: 8px; 
}

    .vkr-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}


}


/*section 3*/
.team  {
  background: #f4f4fd;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 72px;
    
}

.card-name {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  border-radius: 0 0 4px 4px;
  /*padding: 0px 0px 32px 0px;*/
  
  
}

.name-team {
  padding-top: 32px;  
  padding-bottom: 32px;
  
   
}

.cntr {
    text-align: center;
}

.prg {
    text-align: center;
}
  
 
@media screen and (min-width: 756px) {
    .cards {
       flex-wrap: wrap;
       flex-direction: row;
       align-items: center;
       gap: 24px;
      
}
    .card-name {
       width: calc((100% -  48px) / 2); 
    }
   
     
    }


@media screen and (min-width: 1158px) {
     
  .cards {
       flex-wrap: nowrap;
}
    .card-name {
       width: calc((100% - 72px) / 4); 
    }

   
}



.list-social {
  display: flex;
  flex-direction: row;
  justify-content: center;  
  align-items: center; 
  gap: 24px;
  margin-top: 8px;

}

.link-social {
  width: 40px;
  height: 40px;
  
}

.icon-social {
  fill:#f4f4fd;
  
}

.name-social {
  display: flex; 
  justify-content: center;  
  align-items: center; 
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%; 
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name-social:hover,
.name-social:focus {
  background-color: #404bbf;
}



